@model SDNWebApps.Views.AccessPage
@using ExtensionMethods

@{
    Layout = "~/Areas/Access/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div class="container">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>AccessPage</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <h4>Pages</h4>
                @foreach (SelectListItem item in ViewBag.AccessPage1)
                {
                    <label for="@item.Value" >
                        <input type="checkbox" value="@item.Value" name="SelectedAction" id="@item.Value" /> @item.Value.AddSpacesToSentence(false)
                    </label>
                }

                <div class="form-group">
                    @Html.LabelFor(model => model.PersonID, "User", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("PersonID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PersonID, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</body>
</html>

<style>
    label, input {
        padding-left: 5px;
    }
</style>