@model IEnumerable<SDNWebApps.Views.AccessPage>

@{
    Layout = "~/Areas/Access/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Pages")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disactive)
            </th>
            <th>
                @Html.DisplayName("Person Name")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessPage1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Disactive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.PersonName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</body>
</html>
