@model IEnumerable<SDNWebApps.Views.LiquidSize>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Baby/Views/Shared/_BabyLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        @*<th>
        @Html.DisplayNameFor(model => model.Deleted)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.LiquidSize1.Type)
    </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        @*<td>
        @Html.DisplayFor(modelItem => item.Deleted)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LiquidSize1.Type)
    </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteConfirmed", new { id=item.Id })
        </td>
    </tr>
}

</table>
