@model SDNWebApps.Areas.Gas.Models.Auto.ListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>

<div style="padding-left: 15px; padding-top:60px;">

    Auto for <b>@Model.Person.PersonName</b>

    <br />
    <br />
    <table id="AutoList" style="border-style:none">

        @{foreach (var item in Model.Auto)
          {
              <tr>
                  <td style="border-style: solid; border-width: 1px;width: 75px;text-align: center">@Html.Label(item.AutoName)</td>
                  <td style="border-style: solid; border-width: 1px;width: 50px;text-align: center">@Html.ActionLink("Add","Add","Miles",new {id = item.ID},null) </td>
                  <td style="border-style: solid; border-width: 1px;width: 75px;text-align: center">@Html.ActionLink("View Miles","JSONList","Miles", new {id = item.ID},null)</td>
                  <td style="border-style: solid; border-width: 1px;width: 75px;text-align: center">@Html.ActionLink("Add Notes", "Create", "GasNotes", new { id = item.ID }, null)</td>
                  <td style="border-style: solid; border-width: 1px;width: 75px;text-align: center">@Html.ActionLink("View Notes", "Index", "GasNotes", new { id = item.ID }, null)</td>
              </tr>

          }
        }

    </table>
    <br />
    <br />
    @Html.ActionLink("Add Auto","Add","Auto",new {id = Model.Person.ID},null)
</div>

@*@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/base/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/jqueryval")*@