@model SDNWebApps.Areas.Baby.Models.DoneThings.AddViewModel
@using System.Data.Entity.SqlServer
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Microsoft.Ajax.Utilities
@using SDNWebApps.Views
@using System.Web.Optimization



@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Baby/Views/Shared/_Layout.cshtml";
    int POS = 3;
    List<System.Web.Mvc.SelectListItem> ListToUse = new SDNAppsEntities().Actions1.Where(m => m.Delete == false).OrderBy(m => m.Title).Select(m =>
        new SelectListItem {Value = SqlFunctions.StringConvert((double) m.index).Trim(), Text = m.Title}).ToList();

    DateTime mindate = DateTime.Now.AddDays(-3).Date;

    List<System.Web.Mvc.SelectListItem> topfive = new SDNAppsEntities().ThingsDones.Where(m => m.StartTime > mindate).GroupBy(m => m.Actions).Select(n => new {title = n.Key.Title, index = n.Key.index, count = n.Count()})
.OrderByDescending(m => m.count).Take(5).Select(m =>new SelectListItem { Value = SqlFunctions.StringConvert((double)m.index).Trim(), Text = m.title }).OrderBy(m => m.Text).ToList();

    ListToUse.Insert(0, new SelectListItem { Text = "----Top 5----" });

    for (int i = 0; i <= topfive.Count - 1; i++)
    {
        ListToUse.Insert(i+1,topfive[i]);
    }

    ListToUse.Insert(topfive.Count+1, new SelectListItem { Text = "-------------------" });

    List<System.Web.Mvc.SelectListItem> LiquidTypes = new SDNAppsEntities().LiquidSizes.Where(m => m.Deleted == false).OrderBy(m => m.Type).Select(m =>
new SelectListItem { Value = SqlFunctions.StringConvert((double)m.Id).Trim(), Text = m.Type, Selected = (m.Id == 3) }).ToList();
}

<style>
    label {
        display: inline-block;
        padding: 7px;
        width: 75px;
        text-align: right;
    }
</style>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/GPS")
@Styles.Render("~/Content/css")
<script src="~/Scripts/jquery.simple-dtpicker.js"></script>
<link href="~/Content/jquery.simple-dtpicker.css" rel="stylesheet"/>

<link href="~/Scripts/jquery-ui-1114custom/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Scripts/jquery-ui-1114custom/jquery-ui.structure.min.css" rel="stylesheet" />
<link href="~/Scripts/jquery-ui-1114custom/jquery-ui.theme.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.1.4.js"></script>

<script src="~/Scripts/jquery-ui-1114custom/jquery-ui.min.js"></script>


<script>
    
    function GetCurrentDateTime(field) {
        var value = document.getElementById(field).value = new Date().toLocaleDateString() + ' ' + new Date().toLocaleTimeString();
    }

    function addRow() {

        $("#actionCopy").clone().find("input").each(function () {
            $(this).val('');
        }).end().appendTo("#actions");

    }

    $(document).ready(function () { $("#LNotes").click(function () { $("#TANotes").toggle(); }); });

</script>

<body onload="getLocation()" style="padding-left: 5px">
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    //Need to change the layout... Add span or div

    @Html.HiddenFor(m => m.Latitude)
    @Html.HiddenFor(m => m.Longitude)

    <div>
        <div id="actions">
            <div id="actionCopy">
                @Html.ValidationMessageFor(m => m.Actions)
                @Html.LabelFor(m => m.Actions)
                @Html.DropDownListFor(x => x.Action, ListToUse, "Select Action")<br/>
                @Html.Label("Kid")
                @Html.DropDownListFor(x => Model.KidName, Model.KidNames)<br />
                @*@Html.Hidden("KidName",1)*@
                @*@Html.TextBoxFor(x => x.Action)@Html.Hidden("ActionNumber")<br /><br/>*@
                @Html.Label("Amount")
                @Html.TextBoxFor(m => m.OZ, new {@style = "width: 45px", @type = "number", @step = "0.01" }) @Html.DropDownListFor(x => POS, LiquidTypes)
            </div>
        </div>
        <br/>
        <a style="margin: 10px 0;" href="javascript:addRow();">Add Other Item</a>
        <br/>
        <br/>
        @Html.Label("Start")
        @Html.TextBoxFor(m => Model.StartTime, new {@length = "40" }) <a onclick="GetCurrentDateTime('StartTime')">Get Time</a> <br/>

        @Html.Label("End")
        @Html.TextBoxFor(m => m.EndTime, new {@length = "40" }) <a onclick="GetCurrentDateTime('EndTime')">Get Time</a> <br/>

        

        <div style="width: 150px; display: inline-block;">
            @Html.LabelFor(m => m.Notes, new {id = "LNotes", style = "color: blue;text-decoration: underline"})

            <div id="TANotes" style="display: none; padding-left: 5px">@Html.TextAreaFor(m => m.Notes, new {cols = "25"})</div> <br/>
        </div>

    </div>
    <br/>
    <input type="submit" value="Add"/>
    <br/>
    <br/>
}

</body>
    
<script type="text/javascript">

    $(function() {
        $("#Action").autocomplete({ source: '@Url.Action("List", "DoneThings")', minLength: 2 });

    });
</script>



