@model SDNWebApps.Areas.Baby.Models.DoneThings.AddViewModel
@using System.Data.Entity.SqlServer
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Microsoft.Ajax.Utilities
@using SDNWebApps.Views
@using System.Web.Optimization



@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Baby/Views/Shared/_Layout.cshtml";
    int POS = 3;
    List<System.Web.Mvc.SelectListItem> ListToUse = new SDNAppsEntities().Actions1.Where(m => m.Delete == false).OrderBy(m => m.Title).Select(m =>
        new SelectListItem { Value = SqlFunctions.StringConvert((double)m.index).Trim(), Text = m.Title }).ToList();

    DateTime mindate = DateTime.Now.AddDays(-3).Date;

    List<System.Web.Mvc.SelectListItem> topfive = new SDNAppsEntities().ThingsDones.Where(m => m.StartTime > mindate).GroupBy(m => m.Actions).Select(n => new { title = n.Key.Title, index = n.Key.index, count = n.Count() })
.OrderByDescending(m => m.count).Take(5).Select(m => new SelectListItem { Value = SqlFunctions.StringConvert((double)m.index).Trim(), Text = m.title }).OrderBy(m => m.Text).ToList();

    ListToUse.Insert(0, new SelectListItem { Text = "----Top 5----" });

    for (int i = 0; i <= topfive.Count - 1; i++)
    {
        ListToUse.Insert(i + 1, topfive[i]);
    }

    ListToUse.Insert(topfive.Count + 1, new SelectListItem { Text = "-------------------" });

    List<System.Web.Mvc.SelectListItem> LiquidTypes = new SDNAppsEntities().LiquidSizes.Where(m => m.Deleted == false).OrderBy(m => m.Type).Select(m =>
new SelectListItem { Value = SqlFunctions.StringConvert((double)m.Id).Trim(), Text = m.Type, Selected = (m.Id == 3) }).ToList();

    int NumberOfEntries = 0;
}

<style>
    label {
        display: inline-block;
        padding: 7px;
        width: 75px;
        text-align: right;
    }
</style>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/GPS")
@*@Styles.Render("~/Content/css")*@
<script src="~/Scripts/jquery.simple-dtpicker.js"></script>
<link href="~/Content/jquery.simple-dtpicker.css" rel="stylesheet" />

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

<body onload="getLocation()" style="padding-left: 5px">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        //Need to change the layout... Add span or div

        @Html.HiddenFor(m => m.Latitude)
        @Html.HiddenFor(m => m.Longitude)

        <div>
            <div id="actions">
                <div id="actionCopy">
                    <div>
                        @Html.ValidationMessageFor(m => m.Actions)
                        @Html.LabelFor(m => m.Actions)
                        @Html.TextBoxFor(m => m.Action)
                    </div>
                    <div>
                        @Html.Label("Kid")
                        @Html.DropDownListFor(x => Model.KidName, Model.KidNames)
                    </div>

                    <div>
                        @Html.Label("Amount")
                        @Html.TextBoxFor(m => m.OZ, new { @style = "width: 45px", @type = "number", @step = "0.01" }) 
                        @Html.DropDownListFor(x => POS, LiquidTypes)
                    </div>
                    <hr style=""/>
                </div>
            </div>
            <div style="margin-left:10px;margin-top:10px">
                <a style="margin: 10px 0;" href="javascript:addRow();">Add Other Item</a>
            </div>
            <br />
            <br />
            @Html.Label("Start")
            @Html.TextBoxFor(m => Model.StartTime, new { @length = "40" }) <a onclick="GetCurrentDateTime('StartTime')">Get Time</a> <br />

            @Html.Label("End")
            @Html.TextBoxFor(m => m.EndTime, new { @length = "40" }) <a onclick="GetCurrentDateTime('EndTime')">Get Time</a> <br />



            <div style="width: 150px; display: inline-block;">
                @Html.LabelFor(m => m.Notes, new { id = "LNotes", style = "color: blue;text-decoration: underline" })

                <div id="TANotes" style="display: none; padding-left: 5px">@Html.TextAreaFor(m => m.Notes, new { cols = "25" })</div> <br />
            </div>

        </div>
        <br />
        <input type="submit" value="Add" />
        <br />
        <br />
    }

</body>

<script type="text/javascript">
    //var NumberOfEntries = 0;

    function GetCurrentDateTime(field) {
        var value = document.getElementById(field).value = new Date().toLocaleDateString() + ' ' + new Date().toLocaleTimeString();
    }

    function addRow() {
        $("#actionCopy").clone().find("input").each(function () { $(this).val(''); }).end().appendTo("#actions");
        
        $("#actions").find('input[type=text]:last').autocomplete({ source: '@Url.Action("List", "DoneThings")', minLength: 2 });

    }

    $(document).ready(function () {
        $("#LNotes").click(function () { $("#TANotes").toggle(); });
         $("input[name^='Action']").autocomplete({source: '@Url.Action("List", "DoneThings")', minLength: 2});
    });


</script>

<style>
    hr {
        border: none;
        height: 1px;
        /* Set the hr color */
        color: #333; /* old IE */
        background-color: #333; /* Modern Browsers */
    }
</style>


