@using System.Data.Entity.SqlServer
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Microsoft.Ajax.Utilities
@using SDNWebApps.Views
@using System.Web.Optimization
@model SDNWebApps.Areas.Baby.Models.DoneThings.AddViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Baby/Views/Shared/_BabyLayout.cshtml";
    int POS = 3;
    List<System.Web.Mvc.SelectListItem> ListToUse = new SDNAppsEntities().Actions1.Where(m => m.Delete == false).OrderBy(m => m.Title).Select(m =>
        new SelectListItem {Value = SqlFunctions.StringConvert((double) m.index).Trim(), Text = m.Title}).ToList();

    DateTime mindate = DateTime.Now.AddDays(-3).Date;

    List<System.Web.Mvc.SelectListItem> topfive = new SDNAppsEntities().ThingsDones.Where(m => m.StartTime > mindate).GroupBy(m => m.Actions).Select(n => new {title = n.Key.Title, index = n.Key.index, count = n.Count()})
.OrderByDescending(m => m.count).Take(5).Select(m =>new SelectListItem { Value = SqlFunctions.StringConvert((double)m.index).Trim(), Text = m.title }).OrderBy(m => m.Text).ToList();

    ListToUse.Insert(0, new SelectListItem { Text = "----Top 5----" });

    for (int i = 0; i <= topfive.Count - 1; i++)
    {
        ListToUse.Insert(i+1,topfive[i]);
    }

    ListToUse.Insert(topfive.Count, new SelectListItem { Text = "-------------------" });

    List<System.Web.Mvc.SelectListItem> LiquidTypes = new SDNAppsEntities().LiquidSizes.Where(m => m.Deleted == false).OrderBy(m => m.Type).Select(m =>
new SelectListItem { Value = SqlFunctions.StringConvert((double)m.Id).Trim(), Text = m.Type, Selected = (m.Id == 3) }).ToList();
}

<style>
    label {
        display: inline-block;
        padding: 7px;
        width: 75px;
        text-align: right;
    }
</style>

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery.simple-dtpicker.js"></script>
<link href="~/Content/jquery.simple-dtpicker.css" rel="stylesheet" />
<script>
    
    function GetCurrentDateTime(field) {
        var value = document.getElementById(field).value = new Date().toLocaleDateString() + ' ' + new Date().toLocaleTimeString();
    }

    function addRow() {

        $("#actionCopy").clone().find("input").each(function () {
            $(this).val('');
        }).end().appendTo("#actions");

    }

    $(document).ready(function () { $("#LNotes").click(function () { $("#TANotes").toggle(); }); });
    
    var la = document.getElementById("Latitude");
    var lo = document.getElementById("Longitude");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        }
        
    }
    function showPosition(position) {
        document.getElementById("Latitude").value = position.coords.latitude;
        document.getElementById("Longitude").value = position.coords.longitude;
    }

    //$(function () {
    //    $('#StartTime').appendDtpicker({
    //        "minuteInterval": 15,
    //        'dateFormat': 'MM/DD/YYYY hh:mm'
    //    });
    //});

   

</script>

<body onload="getLocation()" style="padding-left: 5px">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        //Need to change the layout... Add span or div

            @Html.HiddenFor(m => m.Latitude)
            @Html.HiddenFor(m => m.Longitude)

            <div>
                <div id="actions">
                    <div id="actionCopy">
                        @Html.ValidationMessageFor(m => m.Actions)
                        @Html.LabelFor(m => m.Actions)
                        @Html.DropDownListFor(x => x.Action, ListToUse, "Select Action")<br />
                        @Html.Label("Amount")
                        @Html.TextBoxFor(m => m.OZ, new { @style = "width: 35px" })  @Html.DropDownListFor(x => POS, LiquidTypes)
                    </div>
                </div>
                <br />
                <a style="margin: 10px 0;" href="javascript:addRow();">Add Other Item</a>
                <br />
                <br />
                @Html.Label("Start")
               @Html.TextBoxFor(m => Model.StartTime, new { @length = "40" }) <a onclick="GetCurrentDateTime('StartTime')">Get Time</a> <br />

                @Html.Label("End")
                @Html.TextBoxFor(m => m.EndTime, new { @length = "40" }) <a onclick="GetCurrentDateTime('EndTime')">Get Time</a> <br />

                <div style="width: 150px; display: inline-block;">
                    @Html.LabelFor(m => m.Notes, new { id = "LNotes", style = "color: blue;text-decoration: underline" })

                    <div id="TANotes" style="display: none;padding-left: 5px">@Html.TextAreaFor(m => m.Notes, new { cols = "25" })</div> <br />
                </div>

            </div>
            <br />
            <input type="submit" value="Add" />
            <br />
            <br />
    }

</body>



