@using System.Data.Entity.SqlServer
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Microsoft.Ajax.Utilities
@using SDNWebApps.Views
@model SDNWebApps.Areas.Baby.Models.DoneThings.AddViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Baby/Views/Shared/_BabyLayout.cshtml";
    List<System.Web.Mvc.SelectListItem> ListToUse = new SDNAppsEntities().Actions1.Where(m => m.Delete == false).OrderBy(m => m.Title).Select(m =>
        new SelectListItem { Value = SqlFunctions.StringConvert((double)m.index).Trim(), Text = m.Title }).ToList();

    List<System.Web.Mvc.SelectListItem> LiquidTypes = new SDNAppsEntities().LiquidSizes.Where(m => m.Deleted == false).OrderBy(m => m.Type).Select(m =>
        new SelectListItem { Value = SqlFunctions.StringConvert((double)m.Id).Trim(), Text = m.Type }).ToList();
}

<style>
    label {
        display: inline-block;
        padding: 7px;
        width: 65px;
        text-align: right;
    }
</style>


@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    //Need to change the layout... Add span or div
    <div>
        
        @Html.ValidationMessageFor(m => m.Actions)
        @Html.LabelFor(m => m.Actions)
        @Html.DropDownListFor(x => x.Action, ListToUse, "Select Action")<br />

        @Html.LabelFor(m => m.StartTime)
        @Html.TextBoxFor(m => m.StartTime,new {@length="40"}) <a onclick="GetCurrentDateTime('StartTime')">Get Time</a> <br />

        @Html.LabelFor(m => m.EndTime)
        @Html.TextBoxFor(m => m.EndTime, new { @length = "40" }) <a onclick="GetCurrentDateTime('EndTime')">Get Time</a> <br />
        
        @Html.Label("Amount", new {@style = "padding-bottom: 25px"})
        @Html.TextBoxFor(m => m.OZ, new { @style = "width: 25px" })  @Html.DropDownListFor(x => x.LiquidType, LiquidTypes,3)<br />
        
        @Html.LabelFor(m => m.Mood, new {@style = "padding-bottom: 25px"})
        @Html.TextAreaFor(m => m.Mood, new { cols = "15" }) <br />
        
        @Html.LabelFor(m => m.Notes)
        @Html.TextAreaFor(m => m.Notes, new { cols = "15" }) <br />

    </div>
    <br/>
     <input type="submit" value="Add" />
}

<div>
    @*@Html.ActionLink("Back to List", "Index")*@
</div>


    @*@functions{

        public MvcHtmlString ListItems()
        {

            SDNAppsEntities test = new SDNAppsEntities();
            var ddl = test.Item1.Select(m => new {m.index, m.Title})
                .ToList()
                .Select(m => new System.Web.Mvc.SelectListItem {Text = m.Title, Value = m.index.ToString()})
                .ToList();

            HtmlHelper htmlHelper = new HtmlHelper(new ViewContext(), null);

            return htmlHelper.DropDownList("name", ddl, "select");

        }

    }*@


<script type="text/javascript">
    function GetCurrentDateTime(field) {
        var value = document.getElementById(field).value = new Date().toLocaleDateString() + ' ' + new Date().toLocaleTimeString();
    }
</script>

