@using System.Collections.Generic
@using System.Data.Entity.SqlServer
@using System.Linq
@using System.Web.Mvc.Html
@using System.Web.WebPages.Html
@using SDNWebApps.Views
@model SDNWebApps.Areas.Baby.Models.DoneThings.EditViewModel

@{
    ViewBag.Title = "Edit Action Items";
    Layout = "~/Areas/Baby/Views/Shared/_BabyLayout.cshtml";
    //Add to remove current item in list and just show that one.
    List<System.Web.Mvc.SelectListItem> ListToUse = new SDNAppsEntities().Actions1.Where(m => m.Delete == false) .OrderBy(m => m.Title).Select(m =>
        new System.Web.Mvc.SelectListItem { Value = SqlFunctions.StringConvert((double)m.index).Trim(), Text = m.Title }).ToList();

    List<System.Web.Mvc.SelectListItem> LiquidTypes = new SDNAppsEntities().LiquidSizes.Where(m => m.Deleted == false).OrderBy(m => m.Type).Select(m =>
        new System.Web.Mvc.SelectListItem { Value = SqlFunctions.StringConvert((double)m.Id).Trim(), Text = m.Type }).ToList();


}
<script type="text/javascript" src="Scripts/jquery-2.1.1.js"></script>
<script src="~/Scripts/knockout-3.2.0.js"></script>
<script type="text/javascript">
    function currentDateTime() {
        var date = new Date().toLocaleDateString().trim() + " " + new Date().toLocaleTimeString().trim();
        document.getElementById("EndTime").value = "";
        document.getElementById("EndTime").value = date;
        //document.getElementById("EndTime").setActive();
    }

</script>

<style>
    label {
        display: inline-block;
        padding: 7px;
        width: 65px;
        text-align: right;
    }
</style>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Index)
    //Need to change the layout
    <div style="padding-bottom: 5px">
        @Html.LabelFor(m => m.Action)
        @Html.DropDownListFor(x => x.Action, ListToUse, Model.Actions.Title)<br/>
    </div>
    <div style="padding-bottom: 5px">
        @Html.LabelFor(m => m.StartTime)
        @Html.TextBoxFor(m => m.StartTime)<br/>
        
    </div>
    <div style="padding-bottom: 5px">
        @Html.LabelFor(m => m.EndTime)
        @Html.TextBoxFor(m => m.EndTime) <a onclick="GetCurrentDateTime()">Get Current DateTime</a>
        <br />

    </div>
    <div style="padding-bottom: 5px">
        @Html.LabelFor(m => m.OZ)
        @Html.TextBoxFor(m => m.OZ, new { @style = "width: 25px" }) 
        @Html.DropDownListFor(x => x.LiquidType, LiquidTypes, Model.LiquidType)<br />
        <br />

    </div>
    <div style="padding-bottom: 5px">
        @Html.LabelFor(m => m.Mood)
        @Html.TextBoxFor(m => m.Mood, new { @style = "width: 50px" })
        <br />

    </div>
    <div style="padding-bottom: 5px">
        @Html.LabelFor(m => m.Notes)
        @Html.TextBoxFor(m => m.Notes, new { @style = "width: 200px" })
        <br />
        <br />

    </div>
    <div style="padding-top: 10px">
        <span style="width: 150px;text-align: left" ><input type="submit" value="Update" /></span> - @Html.ActionLink("Delete", "Delete", new { id = Model.Index })
    </div>
}

        @*<div>
            @Html.ActionLink("Back to List", "Index")
        </div>*@


<script type="text/javascript">
    function GetCurrentDateTime() {
        var value = document.getElementById('EndTime').value = new Date().toLocaleDateString() + ' ' + new Date().toLocaleTimeString();
    }
</script>