
@using System
@using System.Globalization
@using System.Runtime.InteropServices
@using System.Web.Mvc.Html
@using SDNWebApps.Areas.Baby.Models

@using SDNWebApps.Areas.Baby.Models.DoneThings
@using SDNWebApps.Views
@using System.Web.Mvc.Html
@model List<SDNWebApps.Areas.Baby.Models.DoneThings.ListViewModel>

@{
        ViewBag.Title = "Freddy's Daily Break Down";
        Layout = "~/Areas/Baby/Views/Shared/_BabyLayout.cshtml";
        string color = string.Empty;
        string _LastDate = string.Empty;
        double totalFeedOz = 0;
        double totalPumpedOz = 0;
        double totalTeaspoons = 0;
        TimeSpan SleepTime = new TimeSpan();
        int colorCounter = 0;

}

@*@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")*@

<script language="javascript"> 
    function show(id) {
        alert('hi');
        var ele = document.getElementById(id);
        var text = document.getElementById(id);
        if (ele.style.display == "block") {
            ele.style.display = "none";
            text.innerHTML = "show";
        }
        else {
            ele.style.display = "block";
            text.innerHTML = "hide";
        }
    }
    
</script>

<table style="border-collapse: collapse">

    @foreach (ListViewModel thing in Model)
    {
        switch (colorCounter)
        {
            case 0:
                color = "lightblue";
                colorCounter = 1;
                break;
            case 1:
                color = "lightcoral";
                colorCounter = 0;
                break;

        }



        //I think this is why my last day is call jacked up
        if (_LastDate != string.Empty && _LastDate != @thing.StartTime.Date.ToString())
        {
            @displaySummary(SleepTime, totalFeedOz, totalPumpedOz,totalTeaspoons)

            totalFeedOz = 0;
            totalPumpedOz = 0;
            totalTeaspoons = 0;
            SleepTime = new TimeSpan();
        }


        if (_LastDate != string.Empty)
        {
            @:</div>
        }

        if (_LastDate != @thing.StartTime.Date.ToString())
        {

            <tr><td colspan="5"><h3 style="text-align: center" onclick="">@thing.StartTime.ToShortDateString()</h3></td></tr>
        <tr style="border-bottom: 1px solid black !important">
            <td style="width: 100px;text-align: center">Item Done </td>
            <td style="text-align: center;width: 75px">Start Time</td>
            <td style="text-align: center;width: 75px">End Time</td>
            <td style="text-align: center">Amount</td>
            <td style="text-align: center">Mood</td>
            <td style="text-align: center">Notes</td>
            
        </tr>

    }

        <tr style="padding-bottom: 8px; background-color: @color;">
            <td> @Html.ActionLink(CultureInfo.CurrentCulture.TextInfo.ToTitleCase(@thing.Actions.Title), "Edit", new { id = @thing.Index }) </td>
            <td style="text-align: center; border-left: 1px solid black !important">@thing.StartTime.ToLongTimeString()</td>
            <td style="text-align: center; border-left: 1px solid black !important">@(@thing.EndTime != null ? @thing.EndTime.Value.ToLongTimeString() : "-")</td>
            <td style="text-align: center; border-left: 1px solid black !important">
                @(@thing.OZ == 0 ? "-" : @thing.OZ.ToString())
                @(thing.LiquidSize != null ? @thing.LiquidSize.Type : "")
            </td>
            

            <td style="text-align: center; border-left: 1px solid black !important">@(@thing.Mood)</td>
            <td style="text-align: center; border-left: 1px solid black !important">@(@thing.Notes)</td>
        </tr>

        //need to fix this reporting style, try select case??? If not a better if statyment

        if (thing.StartTime != null && thing.EndTime != null && thing.Actions.Title.Equals("sleep", StringComparison.CurrentCultureIgnoreCase))
        {
            SleepTime = SleepTime.Add((TimeSpan)(thing.EndTime - thing.StartTime));
        }
        else if (thing.LiquidSize != null && (thing.OZ != null && thing.Actions.Title.IndexOf("Pump", System.StringComparison.CurrentCultureIgnoreCase)<0 && thing.LiquidSize.Type == "OZ"))
        {

            totalFeedOz += (double)thing.OZ;

        }
        else if (thing.LiquidSize != null && (thing.OZ != null && thing.Actions.Title.IndexOf("Pump", System.StringComparison.CurrentCultureIgnoreCase) < 0 && thing.LiquidSize.Type != "OZ"))
        {

            totalTeaspoons += (double)thing.OZ;
        }
        else if (thing.OZ != null && thing.Actions.Title.IndexOf("Pump", System.StringComparison.CurrentCultureIgnoreCase) >= 0)
        {
            totalPumpedOz += (double)thing.OZ;
        }


        _LastDate = @thing.StartTime.Date.ToString();

    }
    @displaySummary(SleepTime, totalFeedOz,totalPumpedOz,totalTeaspoons)

</table>



@helper displaySummary(TimeSpan sleeptime,double totaloz, double totalpump, double totalteaspoons)
{
        <tr style="border-top: 1px solid black !important">
        <td style="text-align: center;font:bold">Sleep Total</td>
        <td style="text-align: center;font:bold">@sleeptime</td>
            <td style="text-align: center;font:bold">
                OZ Feed<br />
                OZ Pump
            </td>
            <td style="text-align: center;font:bold">
                @totaloz<br />
                @totalpump
        </td>
        <td>Teaspoons</td>
        <td>@totalteaspoons</td>
    </tr>
}