
@using System
@using System.Globalization
@using System.Runtime.InteropServices
@using System.Web.Mvc.Html
@using SDNWebApps.Areas.Baby.Models

@using SDNWebApps.Areas.Baby.Models.DoneThings
@using SDNWebApps.Views
@using System.Web.Mvc.Html
@model List<SDNWebApps.Areas.Baby.Models.DoneThings.ListViewModel>

@{
    ViewBag.Title = "Freddy's Daily Break Down";
    Layout = "~/Areas/Baby/Views/Shared/_BabyLayout.cshtml";
    string color = string.Empty;
    string _LastDate = string.Empty;
    double totalMilkOz = 0;
    double totalFoodOz = 0;
    double totalPumpedOz = 0;
    double totalTeaspoons = 0;
    double totalML = 0;
    TimeSpan SleepTime = new TimeSpan();
    int colorCounter = 0;

    SDNAppsEntities ae = new SDNAppsEntities();

}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")


<table style="border-collapse: collapse">

    @foreach (ListViewModel thing in Model)
    {
        switch (colorCounter)
        {
            case 0:
                color = "lightblue";
                colorCounter = 1;
                break;
            case 1:
                color = "lightcoral";
                colorCounter = 0;
                break;

        }



        //I think this is why my last day is call jacked up
        if (_LastDate != string.Empty && _LastDate != @thing.StartTime.Date.ToString())
        {
            @displaySummary(SleepTime, totalMilkOz, totalPumpedOz, totalTeaspoons, totalFoodOz,totalML)

            totalMilkOz = 0;
            totalFoodOz = 0;
            totalPumpedOz = 0;
            totalTeaspoons = 0;
            SleepTime = new TimeSpan();
            totalML = 0;
        }


        if (_LastDate != string.Empty)
        {
            @:</div>
        }

        if (_LastDate != @thing.StartTime.Date.ToString())
        {

            <tr><td colspan="5"><h3 style="text-align: center" onclick="">@thing.StartTime.ToString("D")</h3></td></tr>
            <tr style="border-bottom: 1px solid black !important">
                <td style="width: 100px;text-align: center">Item Done </td>
                <td style="text-align: center;width: 75px">Start Time</td>
                <td style="text-align: center;width: 75px">End Time</td>
                <td style="text-align: center">Amount</td>
                @*<td style="text-align: center">Mood</td>*@
                <td style="text-align: center">Notes</td>

            </tr>

        }

        <tr style="padding-bottom: 8px; background-color: @color;">
            <td> @Html.ActionLink(CultureInfo.CurrentCulture.TextInfo.ToTitleCase(@thing.Actions.Title), "Edit", new { id = @thing.Index }) </td>
            <td style="text-align: center; border-left: 1px solid black !important">@thing.StartTime.ToLongTimeString()</td>
            <td style="text-align: center; border-left: 1px solid black !important">@(@thing.EndTime != null ? @thing.EndTime.Value.ToLongTimeString() : "-")</td>
            <td style="text-align: center; border-left: 1px solid black !important">
                @if (@thing.StartTime != null && @thing.EndTime != null)
                {
                    @thing.EndTime.Value.Subtract(@thing.StartTime).ToString().Substring(0, 5);
                }
                else
                {
                    <span> @(@thing.OZ == 0 ? "-" : @thing.OZ.ToString()) @(thing.LiquidSize != null ? @thing.LiquidSize.Type : "")</span>
                }
            </td>


            <td style="text-align: center; border-left: 1px solid black !important">
                @(@thing.Notes)

                @if (Request.Cookies["LoggedIn"] != null)
                {
                    if (thing.Longitude != null)
                    {

                        <br /><a href="http://maps.google.com/maps?z=18&q=@thing.Latitude.Trim(),@thing.Longitude.Trim()" target='_blank'>Map</a>

                    }
                }
            </td>
        </tr>


        if (thing.Actions.ActionCategory.Category == ae.ActionCategories.First(m => m.Category == "Food").Category)
        {
            if (thing.Actions.Title.IndexOf("Bottle Feed",StringComparison.CurrentCultureIgnoreCase) >=0 )
            {
                totalMilkOz += (double)thing.OZ;
            }
            else if (thing.LiquidSize.Type == "OZ")
            {
                totalFoodOz += (double)thing.OZ;
            }
            else if (thing.LiquidSize.Type.ToLower() == "teaspoon")
            {
                totalTeaspoons += (double)thing.OZ;
            }

        }

        //else if (thing.Actions.ActionCategory.Category == ae.ActionCategories.First(m => m.Category == "Pump").Category)
        else if (thing.Actions.Title.IndexOf("Pump", System.StringComparison.CurrentCultureIgnoreCase) >= 0)
        {
            totalPumpedOz += (double)thing.OZ;
        }

        else if ((thing.Actions.Title.IndexOf("Sleep", System.StringComparison.CurrentCultureIgnoreCase) >= 0) &&
          thing.EndTime != null)
        {
            SleepTime = SleepTime.Add((TimeSpan)(thing.EndTime - thing.StartTime));
        }

        else if (thing.Actions.ActionCategory.Category == (ae.ActionCategories.FirstOrDefault(m => m.Category == "Medicine") ==null ? "" : ae.ActionCategories.First(m => m.Category == "Medicine").Category))
        {
            if (thing.OZ != null && thing.LiquidSize.Type.Equals("ML",StringComparison.CurrentCultureIgnoreCase))
            {
                totalML += (double) thing.OZ;
            }
        }



        _LastDate = @thing.StartTime.Date.ToString();

    }
    @displaySummary(SleepTime, totalMilkOz, totalPumpedOz, totalTeaspoons, totalFoodOz, totalML)

</table>



@helper displaySummary(TimeSpan sleeptime,double totaloz, double totalpump, double totalteaspoons,double totalFoodOz,double totalML)
{
        <tr style="border-top: 1px solid black !important">
        <td style="text-align: center;font:bold">Sleep Total<br/>@sleeptime</td>
        @*<td style="text-align: center;font:bold"></td>*@
            <td style="text-align: left;font:bold">
                Milk: @totaloz <br/>
                Food: @totalFoodOz
            </td>
            <td style="text-align: center;font:bold">
                Pump: @totalpump
            </td>
            <td style="text-align: left;" colspan=" 2">
                <span style="padding-left: 10px">Teaspoons: @totalteaspoons</span> <br/>
                <span style="padding-left: 10px">Meds: @totalML</span> 
            </td>
        <td></td>
    </tr>
}