@using System
@using System.Data.Entity.SqlServer
@using System.Globalization
@using System.Runtime.InteropServices
@using System.Web.Mvc.Html
@using SDNWebApps.Areas.Baby.Models

@using SDNWebApps.Areas.Baby.Models.DoneThings
@using SDNWebApps.Views
@using System.Web.Mvc.Html
@using Microsoft.Ajax.Utilities
@model List<SDNWebApps.Areas.Baby.Models.DoneThings.ListViewModel>

@{
    ViewBag.Title = "Kid's Daily Break Down";
    Layout = "~/Areas/Baby/Views/Shared/_Layout.cshtml";
    string color = string.Empty;
    string _LastDate = string.Empty;
    int colorCounter = 0;
}
@*@Styles.Render("~/Content/css")*@
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/items.js"></script>

@foreach (ListViewModel thing in Model)
{
    switch (colorCounter)
    {
        case 0:
            color = "lightblue";
            colorCounter = 1;
            break;
        case 1:
            color = "lightcoral";
            colorCounter = 0;
            break;
    }


    if (_LastDate != @thing.StartTime.Date.ToString())
    {
        <div class="row">
            <div class='col-auto headerDate'>@thing.StartTime.ToString("D")</div>
        </div>
        <table align="center" style="width:375px;border-bottom-color:black;border-bottom:solid;">
            <tr>
                <col width="80">
                <col width="40">
                <col width="90">
                <col width="90">
                <col width="70">
                <td class="header">Item</td>
                <td class="header">Kid</td>
                <td class="header">Start</td>
                <td class="header">Stop</td>
                <td class="header">Amount</td>
            </tr>
        </table>
    }

        <table align="center" style="width:375px">
            <col width="80">
            <col width="50">
            <col width="90">
            <col width="90">
            <col width="70">
            <tr style="background-color: @color;">
                <td>@Html.ActionLink(CultureInfo.CurrentCulture.TextInfo.ToTitleCase(@thing.Actions.Title), "Edit", new { id = @thing.Index })</td>
                <td>@Html.ActionLink(@thing.Kid, "Index", new { babyname = @thing.Kid })</td>
                <td>@thing.StartTime.ToString("hh:mm tt")</td>
                <td>@(@thing.EndTime != null ? @thing.EndTime.Value.ToString("hh:mm tt") : "-")</td>
                <td>
                    @if (@thing.StartTime != null && @thing.EndTime != null)
            {
                @thing.EndTime.Value.Subtract(@thing.StartTime).ToString().Substring(0, 5);
    }
    else
    {
        <span> @(@thing.OZ == 0 ? "-" : @thing.OZ.ToString()) @(thing.LiquidSize != null ? @thing.LiquidSize.Type : "")</span>
}
                </td>
            </tr> @if (thing.Notes != null)
    {
        <tr style="border-top:1px solid;border-top-color:gray; background-color: @color;">
            <td colspan="5">

                @*<a href="#" onclick="editProduct('@thing.Notes')">Notes:@thing.Notes</a>*@
                <b>Notes: </b>@thing.Notes


                @if (Request.Cookies["LoggedIn"] != null)
        {
            if (thing.Longitude != null)
            {<a href="http://maps.google.com/maps?z=18&q=@thing.Latitude.Trim(),@thing.Longitude.Trim()" target='_blank'>Map</a>}
}

            </td>
        </tr>}
        </table>
        <div style="margin-top:5px"></div>
    _LastDate = @thing.StartTime.Date.ToString();

    <div class="modal fade" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Detail Notes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="modalWrapper">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


}



    <script>
    $(function () {
        $('.editModal').modal().show();
    });

   function editProduct(productId) {
       // $.ajax({
       //     //url: return success, // The method name + paramater
       //     success: function (data) {
       //         $('#myModal').modal('show')
       //         $('#modalWrapper').html(productId); // This should be an empty div where you can inject your new html (the partial view)
       //         //console.log("data is " + data)
       //     }
       //});
        alert(productId);
       

        }
        
        @*function editProduct(productId) {
        $.ajax({
            url: '@Url.Action("GetNotes", "DoneThings")/' + productId, // The method name + paramater
            success: function (data) {
                $('#myModal').modal('show')
                $('#modalWrapper').html(data); // This should be an empty div where you can inject your new html (the partial view)
                //console.log("data is " + data)
            }
        });
    }*@


    </script>

<style>
    .header {
        text-align: center;
        font-weight: bolder;
    }

    .headerDate {
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 23px;
        text-align: center;
        font-weight: bold;
    }

    TD {
        text-align: center;
    }
</style>