@model List<SDNWebApps.Areas.Baby.Models.DoneThings.SummaryModel2>

@{
     Layout = "~/Areas/Baby/Views/Shared/_BabyLayout.cshtml";
    string LastDate = "";
    string Color = "lightblue";
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")

<!DOCTYPE html>

<html>
    <head>
        <title>SummaryPage</title>
    </head>
<body>
    <div>
        <table>
        <tr>
            <td>Action</td>
            <td># Times</td>
            <td>Amount<BR/>Time</td>
        </tr>
         @foreach (var sum in Model)
        {
            if (LastDate.Length > 0)
            {
                if (LastDate != sum.ItemDate.Value.ToString("d"))
                {
                    <tr>
                        <td colspan="3"><br/></td>
                    </tr>
            if (Color.Equals("lightblue"))
            {
                Color = "yellow";
            }
            else
            {
                Color = "lightblue";
            }
        }
    }



        if (!LastDate.Equals(sum.ItemDate.Value.ToString("d")))
        {
            <tr><td colspan="3" style="font-size: large; font-weight: bold">@sum.ItemDate.Value.ToString("D")</td></tr>
            <td colspan="3"><br/></td>
        }
        <tr style="background-color:@Color">
                <td>@sum.Title</td>
                <td style="text-align: center">@sum.action</td>
                @if (sum.OZ > 59)
                {
                    string totaltime = (sum.OZ / 60).ToString().PadRight(5,' ').Substring(0,5);
                    <td style="text-align: center">@totaltime hours</td>
                }
                else
                {
                     <td style="text-align: center">@sum.OZ</td>
                }

            </tr>

            LastDate = sum.ItemDate.Value.ToString("d");




        }
        </table>
    </div>
</body>
</html>