@using System.Web.Mvc.Html

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="/Content/default.css">
<script type="text/javascript">

    $(document).ready(function () { $("#lActionItems").click(function(){ $("#lsActionItems").toggle(); }); });
    $(document).ready(function () { $("#lAmountSize").click(function () { $("#lsAmountSize").toggle(); }); });
    $(document).ready(function () { $("#lDoneThings").click(function () { $("#lsDoneThings").toggle(); }); });

</script>


<table>
    <tr>
        <td style="width: 110px; text-align: center;vertical-align:top">
            <div id="lActionItems">Action Items<br />
                <div id="lsActionItems" style="display: none">
                    @Html.ActionLink("Add", "Add", "Actions", null, null)<br/>
                    @Html.ActionLink("List", "Index", "Actions", null, null)
                </div>
            </div>
        </td>
        <td style="width: 110px; text-align: center;vertical-align:top">
            <div id="lAmountSize">Amount Size<br />
                <div id="lsAmountSize" style="display: none">
                    @Html.ActionLink("Add", "Create", "LiquidSizes", null, null)<br />
                    @Html.ActionLink("List", "Index", "LiquidSizes", null, null)
                </div>
            </div>
        </td>
        <td style="width: 90px; text-align: center;vertical-align:top">
            <div id="lDoneThings">Items<br /></div>
                @Html.ActionLink("Add", "Add", "DoneThings", null, null)<br />
                <div id="lsDoneThings" style="display: none">
                    @Html.ActionLink("Summary", "Index", "DoneThings", null, null)<br />
                    @Html.ActionLink("View All", "Index", "DoneThings", new { viewall = true }, null)<br />
                    @Html.ActionLink("Summary2", "SummaryPage2", "DoneThings", null, null)
                </div>
        </div>
    </td>
    </tr>
</table>



@*<div style="padding-bottom: 8px;padding-left: 5px;">
    <div id="ActionItems" style="padding-bottom: 5px;">
        <span style="padding-right: 8px" id="lActionItems">Action Items:</span> 
        <span id="lsActionItems" style="display: none">
            @Html.ActionLink("Add", "Add", "Actions", null, new { @style = "padding-right: 8px;" })
            @Html.ActionLink("List", "Index", "Actions", null, new { @style = "padding-right: 8px;" }) <br />
        </span>
    </div>
    
    <div id="AmountSize">
        <span id="lAmountSize">Amount Sizes:</span><span id="lsAmountSize" style="display: none">
    @Html.ActionLink("Add", "Create", "LiquidSizes", null, new { @style = "padding-right: 8px;" })
    @Html.ActionLink("List", "Index", "LiquidSizes", null, new { @style = "padding-right: 8px;" })<br />
</span>
</div>
    </div>
<div style="padding-bottom: 8px;padding-left: 5px">
    <span style="padding-right: 8px" id="lDoneThings">Done Things:</span>
        @Html.ActionLink("Add", "Add", "DoneThings", null, new { @style = "padding-right: 8px;" })
    <span id="lsDoneThings" style="display: none">
        @Html.ActionLink("Summary", "Index", "DoneThings", null, new { @style = "padding-right: 8px;" })
        @Html.ActionLink("View All", "Index", "DoneThings", new { @style = "padding-right: 8px;", viewall = true }, null)
        @Html.ActionLink("Summary2", "SummaryPage2", "DoneThings", null, new { @style = "padding-left: 15px;" })
    </span>
</div>*@

<br/>

@RenderBody()
