@model SDNWebApps.Views.Entry

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Entry</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
    
            <dd>
                @Model.CreatedDate.ToShortDateString()
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IssueDate)
            </dt>
    
            <dd>
                @Html.Label(Model.IssueDate.ToShortDateString())
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Issues)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Issues)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Planned)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Planned)
            </dd>
    
            @*<dt>
                @Html.DisplayNameFor(model => model.Deleted)
            </dt>*@
    
            @*<dd>
                @Html.DisplayFor(model => model.Deleted)
            </dd>*@
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>


<style>
    dd {
        padding-bottom:10px;
    }
</style>