@model IEnumerable<SDNWebApps.Views.Entry>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" style="margin-top:25px;">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        @foreach (var item in Model)
        {
            @*<tr>
                <td>
                    @item.IssueDate.ToShortDateString()
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>*@
            <tr>
                <td>
                    <p>@Html.ActionLink(item.IssueDate.ToShortDateString(), "Edit", new { id = item.ID }) - <span style="font-weight:bolder">Issues:</span> @Html.DisplayFor(modelItem => item.Issues)</p>
                    <p><span style="font-weight:bolder">Planned:</span> @Html.DisplayFor(modelItem => item.Planned)</p>
                </td>
            </tr>
        }

    </table>
</div>