@using System.Data.Entity.SqlServer
@using System.Web.Mvc.Html
@using System.Web.UI.WebControls
@using SDNWebApps.Views
@model SDNWebApps.Views.Actions

@{
    ViewBag.Title = "Add Action Items";
    Layout = "~/Areas/Baby/Views/Shared/_BabyLayout.cshtml";
    List<System.Web.Mvc.SelectListItem> ListToUse = new SDNAppsEntities().ActionCategories.OrderBy(m => m.Category).Select(m =>
        new SelectListItem { Value = m.Index.ToString().Trim(), Text = m.Category }).ToList();

}

<span>
    <label id="HeaderLablel">Category's:</label>
    @Html.ActionLink("Add", "Create", "ActionCategories", null, new { @class = "headerItems" })
    @Html.ActionLink("All", "Index", "ActionCategories", null, new { @class = "headerItems" })
</span>

<h2>Actions</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div>
            
            <div style="padding-bottom: 5px">
                <span >Action: </span>
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div>
            <span>Cat</span>
            @Html.LabelFor(m => m.ActionCategory)
            @Html.DropDownListFor(m => m.CategoryID,ListToUse)
            
        </div>
        <div>
            <div>
                <br/><input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/base/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/jqueryval")