@using System.Globalization
@using System.Web.Mvc.Html
@model IEnumerable<SDNWebApps.Views.Actions>

@{
    ViewBag.Title = "Action List";
    Layout = "~/Areas/Baby/Views/Shared/_Layout.cshtml";
    ViewBag.Header = "Action List";
    HttpCookieCollection SDNWebApps = Request.Cookies;
}

<p>
    @Html.ActionLink("Create New", "Add")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>     
        <th>
            @Html.DisplayNameFor(model => model.ActionCategory.Category)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="padding-bottom: 4px">
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td style="padding-bottom: 4px;">
            @Html.DisplayFor(modelItem => item.ActionCategory.Category)
        </td>
        <td style="padding-left: 5px">
            @Html.ActionLink("Update", "Edit", new { id = item.index })
            @if (Request.Cookies["SDNWebApps"] != null)
            {<span>
                | @Html.ActionLink("Delete", "Delete", new { id = item.index })</span>
                }
</td>
    </tr>
}

</table>
