@using Microsoft.Ajax.Utilities
@{
    HttpCookieCollection SDNWebApps = Request.Cookies;
}
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
@Styles.Render("~/Content/css")

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Home", "Index", "Home", null, new { @class = "navbar-brand" })

        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Grocery", "Index", "Home", new { area = "GroceryList" }, new { @class = "MenuBar" }) </li>
                <li class="divider"></li>
                <li>@Html.ActionLink("Gas", "List", "Person", new { area = "Gas" }, new { @class = "MenuBar" }) </li>
                <li class="divider"></li>
                <li>@Html.ActionLink("Tasks", "Index", "Home", new { area = "Tasks" }, new { @class = "MenuBar" })</li>
                <li class="divider"></li>
                <li>@Html.ActionLink("Baby", "Index", "DoneThings", new { area = "Baby" }, new { @class = "MenuBar" })</li>
                @*<li class="divider"></li>
                <li>@Html.ActionLink("Reminder", "Index", "Reminders", new { area = "Baby" }, new { @class = "MenuBar" })</li>*@
                <li class="divider"></li>
                <ul class="nav navbar-nav navbar-right">
                    @if (Request.Cookies["LoggedIn"] == null)
                    {
                        <li>@Html.ActionLink("Login", "Login", "Home", new { area = "Login" }, new { @class = "MenuBar" })</li>
                    }
                    else
                    {
                        string @myid = Request.Cookies["SDNID"].Value;
                        <li>@Html.ActionLink("Change Info", "Edit", "Home", new { area = "Login", id = @myid }, new { @class = "MenuBar" })</li>
                        <li>@Html.ActionLink("Logs", "Index", "Home", new { area = "Logs", id = @myid }, new { @class = "MenuBar" })</li>
                        <li>@Html.ActionLink("Weight", "Index", "Wt", new { area = "WeightTracking" }, new { @class = "MenuBar" })</li>
                        <li><a style="link: white;" class="MenuBar" href='http://dfwdino.dyndns.org/events' target="_blank">Events</a></li>
                        @*<li>@Html.ActionLink("Dreams", "Index", "Dreams", new { area = "Dreams" }, new { @class = "MenuBar" })</li>*@

                        <li>@Html.ActionLink("Log Out", "LogOut", "LogIn", new { area = "Login" }, new { @class = "MenuBar" })</li>


                    }
                </ul>
</ul>

        </div>
    </div>
</div>

<br />
<br />
<br />