@using System;
@using System.Web;
@using System.Web.Mvc;
@using System.Web.Optimization

@{
    HttpCookieCollection SDNWebApps = Request.Cookies;
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="~/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            @*<li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>*@
            @if (Request.Cookies["SDNWebApps"] != null)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Grocery
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        @Html.ActionLink("Add Store", "AddStore", "Stores", new { Area = "GroceryList" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("All Stores", "Stores", "Stores", new { Area = "GroceryList" }, new { @class = "dropdown-item", showAll = true })
                        @Html.ActionLink("Add Items", "AddItem", "Items", new { Area = "GroceryList" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Show All Items", "Index", "Home", new { showAll = true, Area = "GroceryList" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Need List", "Index", "Home", new { Area = "GroceryList" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Add Size", "Create", "ItemSizes", new { Area = "GroceryList" }, new { @class = "dropdown-item" })

                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Kid's
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        @Html.ActionLink("Add Entry", "Add", "DoneThings", new { Area = "Baby" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Summary", "Index", "DoneThings", new { Area = "Baby" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Add Liquid Size", "Create", "LiquidSizes", new { Area = "Baby" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("List Liquid Size", "Index", "LiquidSizes", new { Area = "Baby" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Add Action", "Add", "Actions", new { Area = "Baby" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("List Action", "Index", "Actions", new { Area = "Baby" }, new { @class = "dropdown-item" })
                    </div>
                </li>

                var IsAdmin = Convert.ToBoolean(Request.Cookies["SDNWebApps"].Values["IsAdmin"]);

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        @Html.ActionLink("Add Gas", "List", "Person", new { area = "Gas" }, new { @class = "dropdown-item" })
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cardio Log
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        @Html.ActionLink("Add Cardio", "Create", "CardioLogs", new { area = "Cardio" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Summary Cardio", "Index", "CardioLogs", new { area = "Cardio" }, new { @class = "dropdown-item" })
                        <hr />
                        @Html.ActionLink("Summary Weight", "Index", "WeightLogs", new { area = "Cardio" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Add WeightLogs", "Create", "WeightLogs", new { area = "Cardio" }, new { @class = "dropdown-item" })
                    </div>
                </li>


                if (IsAdmin)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            @Html.ActionLink("Logs", "Index", "Home", new { area = "Logs" }, new { @class = "dropdown-item" })
                        </div>
                    </li>
                }


            }





        </ul>
    </div>
</nav>


@*<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>*@
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">