@model SDNWebApps.Views.Station


<script>
    $("#submit").click(function() {
        var name = $("#StationName").val();
        console.log('test3');
        $.post('@Url.Action("PopUpCreate", "Stations")', { StationName: name },
            function(result) // success
            {       $('#StationName').val('');
                    //$('#dialog').closest(".ui-dialog-content").dialog("close"); 
            });
        
        return false;
        
    });

</script>
    
    <div class="form-horizontal">@Html.EditorFor(model => model.StationName, new { htmlAttributes = new { @class = "form-control" } })</div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="submit" value="Add" class="btn btn-default" />
            </div>
        </div>
    </div>


@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/base/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/jqueryval")
