@model SDNWebApps.Views.GasNote

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GasNote</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IPAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IPAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Broswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Broswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoteDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoteDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Auto.AutoName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Auto.AutoName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Auto1.AutoName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Auto1.AutoName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
