@model IEnumerable<SDNWebApps.Views.ActionCategory>

@{
    ViewBag.Title = "Category";
    Layout = "~/Areas/Baby/Views/Shared/_BabyLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="width: 100px">
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Index }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.Index }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.Index })
        </td>
    </tr>
}

</table>
