@using System.Web.Mvc.Html

@model SDNWebApps.Areas.Gas.Models.Miles.AddViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    label {
        display: inline-block;
        width: 90px;
        padding-bottom: 10px;
    }
</style>

<link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel='stylesheet' />
@Scripts.Render("~/bundles/GPS")
<script>

    $.ajaxSetup({ cache: false });

    function LoadInfo() {

        $.getJSON('@Url.Action("GetStations","Stations")', null, function (data) {
           
            var select = document.getElementById("SelectedStation");
            var length = select.options.length;

            while (document.getElementById("SelectedStation").options.length > 0) {
                select = document.getElementById("SelectedStation");
                length = select.options.length;

                for (i = 0; i < length; i++) {
                    select.options[i] = null;
                }
            }
           

            $('#SelectedStation').append($('<option/>').attr("value", '').text("Where Did You Go?"));
          
            $.each(data, function (i, option) {
                $('#SelectedStation').append($('<option/>').attr("value", option.ID).text(option.value));
            });

          
            });
    }

    $(document).ready(function() {
        $("#addmore").click(function(event) {

            $("#dialog").dialog({
                //width: 200,
                auto:true,
                //resizable: true,
                //draggable: true,
                title: "New Stations",
                model: true,
                cache: false,
                closeText: 'X',
                //closeOnEscape: true,
                open: function (event, ui) {
                    $(this).parent().appendTo($("form:first"));
                    //Load the Partial View Here using Controller and Action
                    $("#dialog").load('@Url.Action("PopUpCreate", "Stations")');
                },
                close: function() {
                     LoadInfo();
                }
            });


        });

});

   
      

</script>


<div style="padding-left: 5px">
    @Html.ActionLink("View Miles", "List", "Miles", new { ID = Model.AutoID }, null)

    @Html.HiddenFor(m => m.Latitude)
    @Html.HiddenFor(m => m.Longitude)

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.AutoID)<br />

        <div>
            @Html.LabelFor(m => m.TotalPrice)
            @Html.TextBoxFor(m => m.TotalPrice,new { @type = "number", @step = "0.01" })
        </div>

        <div>
            @Html.LabelFor(m => m.TotalGallons)
            @Html.TextBoxFor(m => m.TotalGallons, new { @type = "number", @step = "0.01" })
        </div>


        <div>
            @Html.LabelFor(m => m.TotalMiles)
            @Html.TextBoxFor(m => m.TotalMiles, new { @type = "number", @step = "0.01" })
        </div>

        <div>
            @Html.LabelFor(m => m.Stations)
            @Html.DropDownListFor(n => n.SelectedStation, Model.Stations, "Where did you go?", null) <a id="addmore">Add new Station</a>
  
       
        </div>
  
        <br />

        <input type="submit" value="Add"/>

      
    }
</div>
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/base/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/jqueryval")

<div id="dialog" class=".ui-dialog .ui-dialog-titlebar-close">
    
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#GasDate').datepicker();
    });



</script>