@model SDNWebApps.Areas.Gas.Models.Miles.AddViewModel
@using System.Web.Mvc.Html

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:10px"></div>
<div class="container">
    @Html.ActionLink("View Miles", "JSONList", "Miles", new { ID = Model.AutoID }, null)

    @Html.HiddenFor(m => m.Latitude)
    @Html.HiddenFor(m => m.Longitude)

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.AutoID)<br />

        <div>
            @Html.LabelFor(m => m.GasDate)
            @Html.TextBoxFor(m => m.GasDate, null, new { @value = DateTime.Now })
        </div>

        <div>
            @Html.LabelFor(m => m.TotalPrice)
            @Html.TextBoxFor(m => m.TotalPrice, new { @step = "0.01" })
        </div>

        <div>
            @Html.LabelFor(m => m.TotalGallons)
            @Html.TextBoxFor(m => m.TotalGallons, new { @step = "0.01" })
        </div>


        <div>
            @Html.LabelFor(m => m.TotalMiles)
            @Html.TextBoxFor(m => m.TotalMiles, new { @type = "number", @step = "0.01" })
        </div>

        <div>
            @Html.Label("Engine Time")
            @Html.EditorFor(m => m.EngineRunTime)
        </div>

        <div>
            @Html.LabelFor(m => m.Stations)
            @Html.DropDownListFor(n => n.SelectedStation, Model.Stations, "Where did you go?", null) <a id="addmore">Add new Station</a>


        </div>

        <br />

        <input type="submit" value="Add" />


    }
</div>


<div id="dialog" class=".ui-dialog .ui-dialog-titlebar-close">

</div>

<style>
    label {
        display: inline-block;
        width: 90px;
        padding-bottom: 10px;
    }
</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
@*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>*@
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel='stylesheet' />


@Scripts.Render("~/bundles/GPS")

<script>

    $.ajaxSetup({ cache: false });
    
    $(function () {
        var options = {
            enableHighAccuracy: true,
            timeout: 5000,
            maximumAge: 0
        };

        //navigator.geolocation.getCurrentPosition(showPosition, positionError, options);
    })

    function showPosition(position) {
        var coordinates = position.coords;
        $("Latitude").val(coordinates.latitude);
        $("Longitude").val(coordinates.longitude);

        alert(`Latitude : ${coordinates.latitude}`);
    }

    function positionError(position) {
        alert("Ooops! Error: " + position.positionError);
    }

   function LoadInfo() {
       
        $.getJSON('@Url.Action("GetStations","Stations")', null, function (data) {

            var select = document.getElementById("SelectedStation");
            var length = select.options.length;

            

            while (document.getElementById("SelectedStation").options.length > 0) {
                select = document.getElementById("SelectedStation");
                length = select.options.length;

                for (i = 0; i < length; i++) {
                    select.options[i] = null;
                }
            }


            $('#SelectedStation').append($('<option/>').attr("value", '').text("Where Did You Go?"));

            $.each(data, function (i, option) {
                $('#SelectedStation').append($('<option/>').attr("value", option.ID).text(option.value));
            });


            });
    }

    $(document).ready(function () {

        $("#addmore").click(function(event) {

            $("#dialog").dialog({
                //width: 200,
                auto:true,
                //resizable: true,
                //draggable: true,
                title: "New Stations",
                model: true,
                cache: false,
                closeText: 'X',
                //closeOnEscape: true,
                open: function (event, ui) {
                    $(this).parent().appendTo($("form:first"));
                    //Load the Partial View Here using Controller and Action
                    $("#dialog").load('@Url.Action("PopUpCreate", "Stations")');
                },
                close: function() {
                     LoadInfo();
                }
            });

        });

        document.getElementById("GasDate").value = new Date().toLocaleDateString("en-US");
        //$("#GasDate").value = "12/12/1978";
        //console.log('whote');



});




</script>

@*<script type="text/javascript">
        //$(function () {
        //    $("#GasDate").datepicker();
        //});


    </script>*@