@model IEnumerable<SDNWebApps.Areas.Gas.Models.Miles.JSONGallonsView>

@{
    ViewBag.Title = "Miles";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Int64 TotalMilesDriven = Model.OrderByDescending(m => m.GasDate).Select(m => m.TotalMiles).First() - Model.OrderByDescending(m => m.GasDate).Select(m => m.TotalMiles).Last();
    double TotalGallons = Model.Sum(m => m.TotalGallons);
    double TotalMPG = TotalMilesDriven / TotalGallons;

}

<div style="padding-top:20px"></div>

<div class="text-center">
    Since <b>@Model.OrderByDescending(m => m.GasDate).Select(m => m.GasDate).Last().Value.ToShortDateString()</b> you have used 
    <b> @TotalGallons.ToString("N0")</b> gallons of gas,
    drove <b>@TotalMilesDriven.ToString("N0")</b>
    and your avg MPG is <b>@TotalMPG.ToString("0.00")</b>
</div>


<div style="padding-top:20px"></div>

<div class="container" ng-app="myModule" ng-controller="myController" data-ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model))">

    <form>
        <div class="form-group" style="display:none">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Search date" ng-model="searchDate">
            </div>
        </div>
    </form>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>
                    <a href="#" ng-click="sortType = 'GasDate'; sortReverse = !sortReverse">
                        Date
                        <span ng-show="sortType == 'GasDate' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'GasDate' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td>
                    <a href="#" ng-click="sortType = 'Store'; sortReverse = !sortReverse">
                        Store
                        <span ng-show="sortType == 'Store' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'Store' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td>
                    <a href="#" ng-click="sortType = 'TotalMiles'; sortReverse = !sortReverse">
                        Total Miles
                        <span ng-show="sortType == 'TotalMiles' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'TotalMiles' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>

                <td>
                    <a href="#" ng-click="sortType = 'TotalPrice'; sortReverse = !sortReverse">
                        Total Price
                        <span ng-show="sortType == 'TotalPrice' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'TotalPrice' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td>
                    <a href="#" ng-click="sortType = 'TotalGallons'; sortReverse = !sortReverse">
                        Gallons
                        <span ng-show="sortType == 'TotalGallons' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'TotalGallons' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td>
                    <a href="#" ng-click="sortType = 'DrivenMiles'; sortReverse = !sortReverse">
                        Driven Miles
                        <span ng-show="sortType == 'DrivenMiles' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'DrivenMiles' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td>
                    <a href="#" ng-click="sortType = 'MPG'; sortReverse = !sortReverse">
                        MPG
                        <span ng-show="sortType == 'MPG' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'MPG' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td>
                    <a href="#" ng-click="sortType = 'EngineRunTime'; sortReverse = !sortReverse">
                        Engine Time
                        <span ng-show="sortType == 'EngineRunTime' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'EngineRunTime' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="g in Gallons | orderBy:sortType:sortReverse | filter:searchDate">
                @{
                    var url = Url.Action("Edit", "Miles", new { id = "{{id=g.ID}}" });
                    url = HttpUtility.UrlDecode(url);
                }

                <td><a data-ng-href="@url">{{ g.GasDate | date :  'MM/dd/yyyy' }}</a></td>
                <td>{{ g.Store }}</td>
                <td>{{ g.TotalMiles | number }}</td>
                <td>{{ g.TotalPrice | currency}}</td>
                <td>{{ g.TotalGallons | number: '3'}}</td>
                <td>{{ g.DrivenMiles | number: 0 }}</td>
                <td>{{ g.MPG | number: 0 }}</td>
                <td><span ng-if="g.EngineRunTime != '00:00:00'"> {{ g.EngineRunTime }}</span></td>
            </tr>
        </tbody>

    </table>

</div>


<style>


    a {
        color: black;
    }

        a:hover {
            color: blue;
        }

    .navbar-inverse {
        background-color: black;
        border-color: red;
    }
    td{
        text-align:center;
    }
</style>



@*<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
<script src="~/Scripts/controller-test.js"></script>
