@using System.Diagnostics.Contracts
@using System.Globalization
@using System.Web.Razor.Parser.SyntaxTree
@using Microsoft.SqlServer.Server
@model SDNWebApps.Areas.Gas.Models.Miles.ListViewModel

@{
    ViewBag.Title = "ListMiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
    double MilePerTank = 0;
    double MilesDriven = 0;
    double LastTotalMiles = 0;
    int colorCounter = 0;
    
}

<br />
<br />
@Html.ActionLink("List Auto", "List", "Auto", new { id = Model.PersonID }, new { @style = "padding-right: 10px;padding-left: 5px;" })
@Html.ActionLink("Add", "Add", "Miles", new { id = Model.autoID }, new { @style = "padding-right: 10px" })
@Html.ActionLink("View All", "List", "Miles", new { id = Model.autoID, viewall = true }, new { @style = "padding-right: 10px;" })
<br />
<br />


<div class="row panel-heading" style="font-weight:bold">
    <div class="col-xs-2" style="text-align: center">Store</div>
    <div class="col-xs-2">Total<br/> Miles</div>
    <div class="col-xs-2">Price</div>
    <div class="col-xs-2">LTM</div>
    <div class="col-xs-2">MPG</div>
    <div class="col-xs-2"></div>
</div>

@{
    foreach (var fillup in Model.Gallons)
    {
        <div class="row">
            <div class="col-xs-2" style="text-align: center">@(fillup.Station == null ? "" : fillup.Station.StationName)</div>
            <div class="col-xs-2">@fillup.TotalMiles.ToString("##,####")</div>
            <div class="col-xs-2">@fillup.TotalPrice.Value.ToString("C")</div>
            @{
                if (LastTotalMiles.Equals(0))
                {
                    <div class="col-xs-2">--</div>
                    <div class="col-xs-2">--</div>
                    LastTotalMiles = fillup.TotalMiles;
                }

                else
                {
                    MilesDriven = fillup.TotalMiles - LastTotalMiles;
                    MilePerTank = MilesDriven/fillup.TotalGallons;


                    <div class="col-xs-2">@MilesDriven</div>
                    <div class="col-xs-2">@MilePerTank.ToString("N")</div>
                    LastTotalMiles = fillup.TotalMiles;
                }
            }
            <div class="col-xs-2">
                @if (Request.Cookies["LoggedIn"] != null)
                {
                    <span> @Html.ActionLink("Delete", "DeleteRow", new {milesID = fillup.ID}) </span>}
            </div>
        </div>
                }
}


@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/base/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/jqueryval")

@Scripts.Render("~/bundles/bootstrap")

<script>
    $('.row:nth-of-type(2n+1)').css("background-color", "Linen");
    $('.row:nth-of-type(2n)').css("background-color", "White");
</script>