@using System.Diagnostics.Contracts
@using System.Globalization
@using System.Web.Razor.Parser.SyntaxTree
@using Microsoft.SqlServer.Server
@model SDNWebApps.Areas.Gas.Models.Miles.ListViewModel

@{
    ViewBag.Title = "ListMiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
    double MilePerTank = 0;
    double MilesDriven = 0;
    double LastTotalMiles = 0;
    int colorCounter = 0;
    string color = string.Empty;
}

<br />
<br />
@Html.ActionLink("List Auto","List","Auto",new {id = Model.PersonID},new {@style="padding-right: 10px;padding-left: 5px;"})
@Html.ActionLink("Add","Add","Miles",new {id = Model.autoID},new {@style="padding-right: 10px"})
@Html.ActionLink("View All", "List", "Miles", new { id = Model.autoID, viewall=true }, new {@style="padding-right: 10px;"})
<br />
<br />

<!--TODO: Make CSS file-->
<table id="AutoList" style="border-style:none;border-collapse: collapse">
    <tr style="text-align:center; border-bottom: 1px solid black !important">
        <td style="width: 75px">Total<br/>Miles</td>
        <td style="width: 50px">@Html.Label("Price")</td>
        <td style="width: 50px">LTM</td>
        <td style="width: 50px">@Html.Label("MGP")</td>
    </tr>

    @{
        foreach (var fillup in Model.Gallons)
        {

            switch (colorCounter)
            {
                case 0:
                    color = "lightblue";
                    colorCounter = 1;
                    break;
                case 1:
                    color = "lightcoral";
                    colorCounter = 0;
                    break;

            }


            <tr style="background-color: @color;">
                <td style="width: 65px">@fillup.TotalMiles.ToString("##,####")</td>
                <td style="width: 45px">@fillup.TotalPrice.Value.ToString("C")</td>
                @{
                    if (LastTotalMiles.Equals(0))
                    {
                        <td style="text-align: center">-</td>
                        <td style="text-align: center">-</td>
                        LastTotalMiles = fillup.TotalMiles;
                    }

                    else
                    {
                        MilesDriven = fillup.TotalMiles - LastTotalMiles;
                        MilePerTank = MilesDriven / fillup.TotalGallons;


                        <td style="text-align: center">@MilesDriven</td>
                        <td style="width: 45px;text-align: center" >@MilePerTank.ToString("N")</td>
                        LastTotalMiles = fillup.TotalMiles;
                    }
                }
                <td style="width: 50px;text-align: center">@(fillup.Station == null ? "" : fillup.Station.StationName)</td>
                <td> @Html.ActionLink("Delete", "DeleteRow", new { milesID = fillup.ID }) </td>
            </tr>



        }
    }
</table>

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/base/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/jqueryval")