@using System.Web.Mvc.Html
@using System.Web.Razor.Parser.SyntaxTree
@using Microsoft.Ajax.Utilities
@model IEnumerable<SDNWebApps.Views.Dream>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string color = string.Empty;
    int colorCounter = 0;


}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

@foreach (var item in Model) {

    switch (colorCounter)
    {
        case 0:
            color = "lightblue";
            colorCounter = 1;
            break;
        case 1:
            color = "lightcoral";
            colorCounter = 0;
            break;

    }

    <tr style="background-color: @color;">
        <td style="padding: 0px 0px 5px 5px">
            <span>@item.Date.ToShortDateString()</span><span> -@Html.DisplayFor(modelItem => item.Person1.PersonName)</span>
            <span> -

                @switch (item.DidMeditation)
                {
                    case true:
                        <span>Yes</span>
                        break;
                    default:
                        <span>No</span>
                        break;

                }
            </span>

            <span>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </span>

            <br /> <b>Dream: </b>@Html.Raw(Html.Encode(@item.Dream1).Replace("\n", "<br />"))
            <br /><b>Links: </b> @Html.Raw(Html.Encode(@item.Links).Replace("\n", "<br />"))
        </td>
    </tr>
    
    <tr>
        <td style="height: 10px">
        </td>
</tr>



}

</table>
