
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        
   </head>

<body>
    @RenderPage("~/Views/Shared/MainMenuBar.cshtml")


    <div>
        <label id="HeaderLablel">Store:</label>
        @Html.ActionLink("Add", "AddStore", "Stores", null, new { @class = "headerItems" })
        @Html.ActionLink("All", "Stores", "Stores", null, new { @class = "headerItems" })
    </div>
    <br />
    <div>
        <label id="HeaderLablel">Items:</label>
        @Html.ActionLink("Add", "AddItem", "Items", null, new { @class = "headerItems" })
        @Html.ActionLink("All", "Index", "Home", new { showAll = true }, new { @class = "headerItems" })
        @Html.ActionLink("Need", "Index", "Home", null, new { @class = "headerItems" })
    </div>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
    @Styles.Render("~/Content/grocery")
    @Styles.Render("~/Content/css")




</body>
</html>
