@using System.Web.Mvc.Html

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        
   </head>

<body>
    @*@RenderPage("~/Views/Shared/MainMenuBar.cshtml")*@
    @RenderPage("~/Areas/GroceryList/Views/Home/Shared/GroceryMainMenuBar.cshtml")

<br/><br /><br />
    @RenderBody()
    
    @Styles.Render("~/Content/grocery")
    @Styles.Render("~/Content/css")

    <!-- jQuery UI CSS File -->
    <link href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <!-- jQuery Reference -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <!-- jQuery UI Reference -->
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>


</body>
</html>
