@using System.Web.Mvc.Html

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        
   </head>

<body>
    
    @RenderPage("~/Areas/GroceryList/Views/Home/Shared/GroceryMainMenuBar.cshtml")

    @RenderBody()
    
    @Styles.Render("~/Content/grocery")
    @Styles.Render("~/Content/css")




</body>
</html>
