@using Microsoft.Ajax.Utilities
@{
    HttpCookieCollection SDNWebApps = Request.Cookies;
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    @Html.ActionLink("Need List", "Index", "Home", null, new { @class = "navbar-brand" })
    @Html.ActionLink("Add Items", "AddItem", "Items", null, new { @class = "navbar-brand" })
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            @*<li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>*@
            @if (Request.Cookies["SDNWebApps"] != null)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Store
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        @Html.ActionLink("Add Store", "AddStore", "Stores", new { Area = "GroceryList" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("All Stores", "Stores", "Stores", new { showAll = true, Area = "GroceryList" }, new { @class = "dropdown-item"})

                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Item's
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        @Html.ActionLink("Add Items", "AddItem", "Items", new { Area = "GroceryList" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Show All Items", "Index", "Home", new { showAll = true, Area = "GroceryList" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Need List", "Index", "Home", new { Area = "GroceryList" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Add Size", "Create", "ItemSizes", new { Area = "GroceryList" }, new { @class = "dropdown-item" })

                    </div>
                </li>

            }





        </ul>
    </div>
</nav>





<style>
    .navbar-brand{
        font-size:15px;
    }
</style>

