@model IEnumerable<SDNWebApps.Views.Weight>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pound)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IPAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Broswer)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Size.Notes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pound)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IPAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Broswer)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Size.Notes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WeightID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WeightID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WeightID })
        </td>
    </tr>
}

</table>
