@model SDNWebApps.Views.Size

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Size</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.SizeID)

        <div class="form-group">
            @Html.LabelFor(model => model.PeopleID, "PeopleID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PeopleID", String.Empty)
                @Html.ValidationMessageFor(model => model.PeopleID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Wrist, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Wrist)
                @Html.ValidationMessageFor(model => model.Wrist)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Chest, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Chest)
                @Html.ValidationMessageFor(model => model.Chest)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Forearm, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Forearm)
                @Html.ValidationMessageFor(model => model.Forearm)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Waist, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Waist)
                @Html.ValidationMessageFor(model => model.Waist)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Thigh, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Thigh)
                @Html.ValidationMessageFor(model => model.Thigh)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hip, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hip)
                @Html.ValidationMessageFor(model => model.Hip)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Calve, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Calve)
                @Html.ValidationMessageFor(model => model.Calve)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bicep, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bicep)
                @Html.ValidationMessageFor(model => model.Bicep)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Neck, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Neck)
                @Html.ValidationMessageFor(model => model.Neck)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Notes, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Notes)
                @Html.ValidationMessageFor(model => model.Notes)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.StatusDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StatusDate)
                @Html.ValidationMessageFor(model => model.StatusDate)
            </div>
        </div>
        @*<div class="form-group">
            @Html.LabelFor(model => model.CreatedOn, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedOn)
                @Html.ValidationMessageFor(model => model.CreatedOn)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UpdatedOn, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UpdatedOn)
                @Html.ValidationMessageFor(model => model.UpdatedOn)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IPAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IPAddress)
                @Html.ValidationMessageFor(model => model.IPAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Broswer, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Broswer)
                @Html.ValidationMessageFor(model => model.Broswer)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
