@using System.Web.UI.WebControls
@model SDNWebApps.Areas.Tasks.Models.EditTask

@{
    ViewBag.Title = "Add Task";
    Layout = "~/Areas/Tasks/Views/Shared/_TasksLayout.cshtml";
}
<title>@ViewBag.Title</title>
<h2>@ViewBag.Title</h2>
<div id="TaskAdded"></div>

@ViewBag.Task<br/>
<br/>

@using (Html.BeginForm("EditTask","Tasks", FormMethod.Post))
{<div>
     @Html.HiddenFor(m => m.ID)
     <div style="padding-bottom: 5px;padding-top: 5px">
         @Html.LabelFor(m => m.Title):
         @Html.TextBoxFor(m => m.Title)
     </div>
     <div style="padding-bottom: 5px;padding-top: 5px">
         @Html.LabelFor(m => m.DueDate):
         @Html.TextBoxFor(m => m.DueDate, new { @class = "date" })
     </div>
     <div style="padding-bottom: 5px;padding-top: 5px">
         @Html.LabelFor(m => m.PersonID):
         @Html.DropDownListFor(m => m.Person.ID, new SelectList(Model.Persons, "ID", "PersonName"),"Select it",null)
         
     </div>


 </div>

    @*<p><a href="#" class="add-link">Add</a></p>*@
    <p><input value="Update" type="submit"/> </p>
}

@*<script src="~/Scripts/tasks.js?v=6"></script>*@


@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/base/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/jqueryval")



<script type="text/javascript">
    $(document).ready(function () {
        $('#DueDate').datepicker();
    });
</script>