@using System.Web.Mvc.Html
@using System.Web.UI.WebControls
@model SDNWebApps.Areas.GroceryList.Models.Home.ItemsViewModel


@{
    ViewBag.Title = "Add Item";
    Layout = "~/Areas/GroceryList/Views/Home/Shared/_GroceryListLayout.cshtml";
}
<title>@ViewBag.Title</title>
<h2>@ViewBag.Title</h2>

<div>@ViewBag.Item</div>
<br />
<style>
    .ItemsAddForm {
        padding-top: 5px;
        padding-bottom: 5px;
    }
label {
    display: inline-block;
    width: 75px;
    text-align: left;
}
</style>





@using (Html.BeginForm("AddItem", "Items", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        <div class="ItemsAddForm">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)<br />
        </div>

        <div class="ItemsAddForm">
        @Html.LabelFor(m => m.Price)
        @Html.TextBoxFor(m => m.Price, new { @Value = (Model.Price == 0.0) ? "" : Model.Price.ToString() })<br />
    </div>
        <div class="ItemsAddForm">
        @Html.LabelFor(m => m.Amount)
        @Html.TextBoxFor(m => m.Amount)<br />
    </div>

    <div class="ItemsAddForm">
        @Html.LabelFor(m => m.Store.StoreName)
        @Html.DropDownListFor(x => x.SelectedItemId, Model.ListToUse, "Select Store", null)<br /><br />
    </div>

    <div class="ItemsAddForm">
        <input type="file" id="uploadFile" name="uploadFile" />
    </div>
    <div class="ItemsAddForm">
        <input id="submitbutton" type="submit" value="Add" />
    </div>
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/grocery")
@Styles.Render("~/Content/grocery.css")

