@using System.Web.Mvc.Html
@using System.Web.UI.WebControls
@model SDNWebApps.Areas.GroceryList.Models.Home.ItemsViewModel


@{
    ViewBag.Title = "Add Item";
    ViewBag.Header = "Add Item";
    Layout = "~/Areas/GroceryList/Views/Home/Shared/_GroceryListLayout.cshtml";
}
<title>@ViewBag.Title</title>


<div>@ViewBag.Item</div>
<br />
<style>

    label {
        display: inline-block;
        width: 60px;
        text-align: left;
    }
    form {
        padding-left: 8px;
    }
</style>

<link href="~/Scripts/jquery-ui-1114custom/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Scripts/jquery-ui-1114custom/jquery-ui.structure.min.css" rel="stylesheet" />
<link href="~/Scripts/jquery-ui-1114custom/jquery-ui.theme.min.css" rel="stylesheet"/>
<script src="~/Scripts/jquery-2.1.4.js"></script>

<script src="~/Scripts/jquery-ui-1114custom/jquery-ui.min.js"></script>

@using (Html.BeginForm("AddItem", "Items", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        <div>
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)<br/>
       
        </div>

        <div class="ItemsAddForm">
        @Html.LabelFor(m => m.Price)
            @Html.TextBoxFor(m => m.Price, new {@type = "number", @Value = (Model.Price == 0.0) ? "" : Model.Price.ToString()})<br/>
            @*@Html.TextBoxFor(m => m.Price, new { @type = "number", @Value = (Model.Price == 0.0) ? "" : Model.Price.ToString() })<br />*@
    </div>
        <div class="ItemsAddForm">
        @Html.LabelFor(m => m.Amount)
        @Html.TextBoxFor(m => m.Amount,new { @type = "number" })<br />
    </div>

    <div class="ItemsAddForm">
        <label>Type</label>
        @Html.DropDownList("ItemSizeID",null,"---Select---")
    </div>


    <div class="ItemsAddForm">
        <label>Store</label>
        @Html.DropDownListFor(x => x.SelectedItemId, Model.ListToUse, "Select Store", null)<br /><br />
    </div>

    @*<div class="ItemsAddForm">
        <input type="file" id="uploadFile" name="uploadFile" />
    </div>*@

    <div class="ItemsAddForm">
        <input id="submitbutton" type="submit" value="Add" />
    </div>
}
@*@Scripts.Render("~/bundles/jquery")*@
@Scripts.Render("~/bundles/grocery")
@*@Styles.Render("~/Scripts/jquery-ui-1114custom/")*@
@*@Styles.Render("~/Content/grocery.css")*@


<script type="text/javascript">

    $(function() {
        $("#Name").autocomplete({ source: '@Url.Action("List", "Home")', minLength: 3 });
     
    });
</script>
