@using System.Drawing
@using System.IO
@using SDNWebApps.Areas.GroceryList.Models.Home
@model  ViewItemsVM

@{
    int colorCounter = 0;
    string divWidth = Model.ShowAll != true ? "100%" : "100%";
    string color = string.Empty;
}

<div>

    @using (Html.BeginForm())
    {

        <table align="center" style="width:350px;border-bottom-color:black;border-bottom:solid;">
            <tr>
                <td class="header" width="150">Item</td>
                <td class="header" width="50">Store</td>
                <td class="header" width="50">Price</td>
                @if (Model.ShowAll)
                {
                    <td class="header" width="50"></td>
                }
            </tr>
        </table>

        foreach (var item in Model.Items)
        {
            switch (colorCounter)
            {
                case 0:
                    color = "lightyellow";
                    colorCounter = 1;
                    break;
                case 1:
                    color = "lightgrey";
                    colorCounter = 0;
                    break;

            }
            <div style="padding-bottom:10px"></div>
            <table align="center" style="width:350px; border-color:black;border:solid;" id="FullItem{@item.ID}">
                <tr style="background-color: @color;">
                    <td width="150"><span class="got-link" data-request-url="@Url.Action("GotItem", "Items")" id=@item.ID>@item.Name @(@item.Amount != null ? @item.Amount : "") @(item.ItemSize == null ? "" : item.ItemSize.Size)</span></td>
                    <td width="50" style="text-align:center">
                        @if (item?.StoreID != 3 && item.StoreID != null)
                        {@Html.ActionLink(item.Store.StoreName, "Index", "Home", new { showAll = Model.ShowAll, storeID = item.StoreID }, null)}
                    </td>
                    <td width="50" style="text-align:center">
                        @if (item.Price > 0)
                        {
                            <span>
                                @String.Format("{0:C}", @item.Price)
                                <br />
                                <a href="#" onclick="editProduct(@item.ID)">Price List</a>
                            </span>
                        }
                    </td>

                    @if (Model.ShowAll)
                    {
                        <td width="50">
                            @if (item.LastGotten != null)
                            {
                                @Html.ActionLink(item.LastGotten.Value.ToShortDateString(), "Index", "Home", new { showAll = Model.ShowAll, sortbydate = true }, null)
                                <br />
                                @Html.ActionLink("Edit", "EditItem", "Items", new { itemID = @item.ID }, null)
                                <a href="#" id=@item.ID class="delete-link">Delete</a>


                            }

                        </td>}
                </tr>
            </table>


        }


    }

</div>




<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Price History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modalWrapper">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>*@

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/items.js"></script>

<script>
    $(function () {
        $('.editModal').modal().show();
    });

    function editProduct(productId) {
        $.ajax({
            url: '@Url.Action("PriceHistoryItem","PriceHistories")/' + productId, // The method name + paramater
            success: function (data) {
                $('#myModal').modal('show')
                $('#modalWrapper').html(data); // This should be an empty div where you can inject your new html (the partial view)
                //console.log("data is " + data)
            }
        });
    }

</script>

<style>
    .header {
        text-align: center;
        font-weight: bold;
    }
</style>

