@model SDNWebApps.Views.Store

@{
    ViewBag.Title = "Add New Store";
    Layout = "~/Areas/GroceryList/Views/Home/Shared/_GroceryListLayout.cshtml";
}

<h2>Add New Store</h2>
<div id="ItemAdded"></div>
<p>
    <span style="padding-right: 3px">@Html.LabelFor(m => m.StoreName, new { @class = "Add" }): </span> <span>@Html.TextBoxFor(m => m.StoreName)</span>
</p>
<br/>
<p><a href="#" class="add-store-link">Add</a></p>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/grocery")
@Styles.Render("~/Content/grocery")
